$bg-color: #2a2a2a;
$second-bg-color: #202020;
$text-color: #fff;
$second-text-color: #ccc;
$main-color: #CA00FF;
$big-font: 5rem;
$h2-font: 3rem;
$p-font: 1.1rem;

#mySkills{
  min-height: 100vh;
  width: 100%;
  background-color: $second-bg-color;  
  .container{
    width: 90%;
    margin: 80px 5%;
    height: 100%;
    gap: 30px;
    h2{
      font-size: $h2-font;
      margin: 40px 0;
      text-align: center;
    }
    .skills{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 40px 0;
    } 
  }
}