$bg-color: #2a2a2a;
$second-bg-color: #202020;
$text-color: #fff;
$second-text-color: #ccc;
$main-color: #ca00ff;
$big-font: 5rem;
$h2-font: 3rem;
$p-font: 1.1rem;

#portfolio {
  min-height: 100vh;
  width: 100%;
  background-color: $bg-color;

  .container {
    width: 90%;
    margin: 80px 5%;
    text-align: center;
    h2 {
      font-size: $h2-font;
      margin: 40px 0;
    }
    .my-works {
      margin: 40px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
    }
  }
}
