$main-color: #ca00ff;

.work-card {
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  width: 320px;
  height: 250px;
  overflow: hidden;
  position: relative;
  &:hover {
    .card-up {
      .up-curtain {
        height: 100%;
      }
    }
    .card-down {
      h4 {
        color: $main-color;
      }
    }
  }
  .card-up {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    .up-curtain {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 0%;
      gap: 10px;
      border-radius: 10px 10px 0 0;
      transition: height 0.3s ease;
      overflow: hidden;
      transform: matrix(10deg);
      backdrop-filter: blur(10px);
      background-color: rgba($color: #000000, $alpha: 0.5);
      a{
        margin-right: 10px;
      }
    }
  }
  .card-down {
    background-color: #202020;
    height: 30%;
    width: 100%;
    display: grid;
    place-items: center;
    h4 {
      vertical-align: middle;
      transition: all 0.4s ease;
    }
  }
}